body{
    font-family: 'Montserrat', sans-serif;
    background-color: #212529;
}

body,html{
    height: 100%;
}


/*-----------------------------------NAVEGACION*/
.logo{
    width: 8rem;
}

.navegacion{
    background-color: #333333;
}

.boton{
    color: white;
}

.menu{
    color: white
}

.menu:hover{
    color: aqua;
}

.naveg-drop{
    background-color: #333333;
}

.naveg-drop a{
    color: white;
}

.naveg-drop a:hover{
  color: black;
  font-weight: bold;
}

.naveg-drop:hover{
    color: white
}

nav.abajo{
  background: #212529;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.50);
-webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.50);
  transition: 0.1s ease-in-out;
}

/*-----------------------------------HERO IMAGE*/



.mainSecTop{
  /* background-color: #212529; */
  height: 34rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/estilista22.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



}

.styler{
  position:absolute;
  height: 90vh;
  right:0;
  display: none;
}

.main{
  position: absolute;
  margin-top: 6rem;
  left: 6rem;
  align-content: center;
}

.main-text{
  font-size: 5rem;
  color: white;
  /* padding-bottom: -5rem; */
  font-family: 'Kaushan Script', cursive;
}

.main-subtext{
  font-size: 3rem;
  color: white;
}

.serv-text{
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.45;
  letter-spacing: 2rem;
}

  /*-----------------------------------SERVICIOS*/

  .servicios{
    background-color: #f2fafa;
    text-align: center;
    margin-top: -3.5em;
    padding-top: 1.5rem;
    transform: skewY(5deg);
    margin-bottom: 2rem;
  }

  .serv-card-text{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
  }

  .serv-info{
    font-size: 1rem;
  }

  .serv-cont{
    transform: skewY(-5deg);
  }

  .serv1{
    margin-top: 1.5rem;
  }

  .serv2, .serv3, .serv4{
    margin-top: 2.2rem;
  }

  .foot{
    background-color: #212529;
  }

  .logo-foot{
    width: 80%;
    margin-top: 35%;
    margin-left: 9%;
    display: block;
  }


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


#banner {
    position: relative;
    height: 500px;
    width:100%;
    overflow: hidden;
}
#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width:auto;
    z-index: -100;
}

/*PANTALLAS PEQ*/
@media (max-width: 575.98px) {
    .serv-text{
      font-size: 2rem;
      letter-spacing: 0.5rem;
    }

    .styler{
      display: none;
    }

    .main{
      left: 3.3rem;
      text-align: center; 
      margin-top: 5rem;
    }

    .main-text{
      font-size: 2.5rem;
    }
    
    .main-subtext{
      font-size: 1.2rem;
    }

    .mainSecTop{
      height: 20rem;
    }

    .serv-info{
      display: none;
    }
  
    .serv1, .serv2, .serv3, .serv4{
      margin-top: 1rem;
    }
  }





