body{
    font-family: 'Montserrat', sans-serif;
    background-color: #212529;
}

body,html{
    height: 100%;
}


/*-----------------------------------NAVEGACION*/
.logo{
    width: 10rem;
}

.menu{
    color: white
}

.menu:hover{
    color: #D2D39B;
    transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;
-moz-transform: scale(1.1) ;
}

.naveg-drop{
    background-color: #333333;
}

.naveg-drop a{
    color: white;
}

.naveg-drop a:hover{
  color: black;
  font-weight: bold;
}

.naveg-drop:hover{
    color: white
}

nav.abajo{
  background: #101214;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.50);
-webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.50);
  transition: 0.1s ease-in-out;
}

/*-----------------------------------HERO IMAGE*/

.main{
  padding: 11rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/modelo3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-text{
  font-size: 5rem;
  color: white;
  /* padding-bottom: -5rem; */
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

.main-subtext{
  font-size: 3rem;
  color: white;
  text-align: center;
}

.serv-text{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  /* opacity: 0.45; */
  letter-spacing: 0.5rem;
}

  /*-----------------------------------SERVICIOS*/


  .servicios{
    /* background-color: #f2f0ef; */
    background-color: #101214;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .price{
    font-size: 1.2rem;
  }

  /* .colService{
    
  } */

  /* .colStyler{
    width: 15%;
  } */

  .accordion{
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.44);
-webkit-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.44);
  }

  .card-header{
    background-color: #333333;
  }

  .fw-normal{
    color: white;
  }

  .contacto, .social, .copyright{
    background-color: #101214;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .whatsapp{
    text-decoration: none;
    color: white;
  }

  .whatsapp:hover{
    color: #25D366;
  }

  .img-serv{
    height: 90vh;
    margin-left: auto;
    display: block;
    position: sticky;
  }

  .mapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;

  }

  footer{
    background-color: #101214;
  }

  .social{
    margin-top: -1rem;
  }

  .fa-instagram:hover{
    color: #833AB4;
    transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;
-moz-transform: scale(1.1) ;
}

.fa-whatsapp:hover{
  color: #25D366;
  transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;
-moz-transform: scale(1.1) ;
}

.fa-telegram:hover{
  color: #0088CC;
  transform: scale(1.1) ;
-webkit-transform: scale(1.1) ;
-moz-transform: scale(1.1) ;
}

/*PANTALLAS PEQ*/
@media (max-width: 575.98px) {
    .serv-text{
      font-size: 2rem;
      letter-spacing: 0.5rem;
    }

    .img-serv{
      display: none;
    }

    .colService{
      width: 100%;
    }

    .main{
      padding: 5rem;
    }

    .main-text{
      font-size: 2.5rem;
    }

    .main-subtext{
      font-size: 1.2rem;
    }

    .mainSecTop{
      height: 20rem;
    }

    .serv-info{
      display: none;
    }

    .serv1, .serv2, .serv3, .serv4{
      margin-top: 1rem;
    }

    .logo{
      width: 8rem;
  }
  .menu:hover{
  transform: scale(1) ;
  -webkit-transform: scale(1) ;
  -moz-transform: scale(1) ;
}


  }





